.background {
    background-image: url("../img/placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    width: 200px;
    background-color: black;
}

.movies-title {
    color: white;
    font-size: 28px;
    margin-top: 30px!important;
}

.movies-description {
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

.home {
    margin-right: 20px;
    cursor: pointer ;
}

@media only screen and (max-width: 600px) {
    .home {
        margin-right: 20px;
        cursor: pointer ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        }
}